header{
    font-family: tahoma;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: yellow;
    background-color: blue;
    border-style: groove;
    border-radius: 25px;
    border-color: orange;
    border-width: 15px;
    margin: 5px;
}

body{
    font-family: Tahoma;
    text-align: center;
    background-color: lightskyblue;
}

#ruimte{
    margin: 25px;
}

.letterbox{
    font-family: tahoma;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-style: groove;
    border-color: orange;
    background-color: blue;
    width: 55px;
    height: 55px;
    margin-bottom: 3px;
}

button{
    font-family: tahoma;
    font-size: xx-large;
    text-align: center;
    border-style: groove;
    border-radius: 25px;
    border-color: orange;
    background-color: blue;
    color: yellow;
}
#invoerveld{
    font-family: tahoma;
    font-weight: bolder;
    font-size: xx-large;
    text-align: center;
    color: white;
    text-transform: uppercase;
    border-style: groove;
    border-color: orange;
    background-color: blue;
    width: 350px;
    height: 55px;
    margin-bottom: 3px;
}
    
    
